[submodule "bash/.vim/bundle/nerdtree"]
	path = bash/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bash/.vim/bundle/fzf.vim"]
	path = bash/.vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "bash/.vim/bundle/accelerated-smooth-scroll"]
	path = bash/.vim/bundle/accelerated-smooth-scroll
	url = https://github.com/yonchu/accelerated-smooth-scroll.git
[submodule "bash/.vim/bundle/vim-ingo-library"]
	path = bash/.vim/bundle/vim-ingo-library
	url = https://github.com/inkarkat/vim-ingo-library.git
[submodule "bash/.vim/bundle/vim-SearchHighlighting"]
	path = bash/.vim/bundle/vim-SearchHighlighting
	url = https://github.com/inkarkat/vim-SearchHighlighting.git
[submodule "bash/.vim/bundle/vimwiki"]
	path = bash/.vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "bash/.vim/bundle/gundo.vim"]
	path = bash/.vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
