[user]
	email = an9wer@gmail.com
	name = an9wer
[core]
	editor = vim
[pull]
	rebase = true
[format]
	pretty = format:%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s
[alias]
	lg = log --graph --pretty=format:'%C(yellow)%d%Creset %C(cyan)%h%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short --all
	sb = show-branch --more=12
