URxvt.scrollBar: false

! sudo apt-get install ttf-wqy-microhei
! URxvt.font: xft:Source Code Pro Semibold:size=10,xft:WenQuanYi Micro Hei Mono:size=10
URxvt.font: xft:Source Code Pro Semibold:size=11,xft:Noto Sans CJK SC Regular:size=12

! disable iso14755 when hitting ctrl+shift
! thx: https://urxvt.wordpress.com/2015/05/14/if-youve-been-vexed-by-urxvts-picture-insert-mode-andor-iso-14755-mode-heres-how-to-fix-them/
URxvt.iso14755: false
URxvt.iso14755_52: false

! background & foreground
!URxvt.depth: 32
!URxvt.background: #282a36
URxvt.transparent: true
URxvt.shading: 50
URxvt.foreground: #ffffff

! black dark/light
URxvt.color0:  #282a36
URxvt.color8:  #000000
! red dark/light
URxvt.color1:  #ff6e67
URxvt.color9:  #ff5555
! green dark/light
URxvt.color2:  #5af78e
URxvt.color10: #50fa7b
! yellow dark/light
URxvt.color3:  #f4f99d
URxvt.color11: #f1fa8c
! blue dark/light
URxvt.color4:  #caa9fa
URxvt.color12: #caa9fa
! magenta dark/light
URxvt.color5:  #ff92d0
URxvt.color13: #ff79c6
! cyan dark/light
URxvt.color6:  #9aedfe
URxvt.color14: #8be9fd
! white dark/light
URxvt.color7:  #e6e6e6
URxvt.color15: #bfbfbf

URxvt.inputMethod: fcitx

URxvt.perl-lib: ~/.urxvt/ext/
URxvt.perl-ext-common: resize-font,keyboard-select

! keyboard-select config
URxvt.keysym.C-M-bracketleft: perl:keyboard-select:activate
URxvt.keysym.C-M-slash: perl:keyboard-select:search
URxvt.keyboard-select.clipboard: true
